/* navigation bar */
nav{
    position: fixed;
    height: 100px;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.4s ease;
    z-index: 100;
}


nav .container-navigation {
    background: #324E7B;
    height: 100px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

nav .container-logo {
    background: #324E7B;
    margin-left: 50px;
}

.container-navigation .linksNavig{
    display: flex;
}

.container-navigation .linksNavig li{
    list-style: none;
}

.linkText {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    margin-right: 70px; 
    color: #C1CAD7;
    position: relative;
}

.linkText::before { 
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 0%;
    height: 3px; 
    background-color: #86A6DF; 
    transition: width 0.3s ease; 
}

.linkText:hover::before { 
    width: 100%;
    color: #FFFFFF;
}

.linkText:hover{
    color: #FFFFFF;

}

.selected {
    font-weight: bolder;
    color: #FFFFFF;
}

nav.sticky {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%;
    background-color: #324E7B; 
    z-index: 10;
}

.topSpace {
    padding-top: 9%;
    background-color: #E5EEFF;
    margin-top: 0;
}

.webname {
    color: #FFFFFF;
    font-size: xx-large;
    font-family: "Roboto", sans-serif;
    margin-left: 20%;
    text-decoration: none;
    font-weight: bolder;
}

.webname:hover{
    filter:opacity(50%);
}

body, .container-content {
    background-color: #E5EEFF;
    margin: 0;
    display: flex;
    flex-direction: column;
}

div {
    background-color: #FFFFFF;
}

.mainContainer{
    width: 85%;
    margin: auto;
    background: #FFFFFF;
    height: 65%;
}


.containerPicture {
    width: 35%;
    height: 100%;
    background: #FFFFFF;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.containerDetailsTitle {
    width: 5%;
    text-align: left;
}

.containerDetailsColon {
    margin-left: 2%;
    margin-right: 2%;
}

.containerDetails {
    width: 65%;
    margin-left: 5%;
    margin-top: 0;
    padding-bottom: 12%;
    height: 100%;
}

.containerAbout {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    object-fit:contain;
}


#picID {

    object-fit:cover;
    overflow: hidden;
    margin: 0;
    padding: 0; 
}



.containerAboutDetails {
    width: 95%;
    margin: 4% 15% 0 4%;
    height: 30%;
}

.containerAboutSocials {
    width: 100%;
    height: auto;
    background: #324E7B;
    display: flex;
    justify-content: space-between; 
    align-self: flex-end;
}

.listSocials{
    display: flex;
    width: 100%;
    list-style: none;
    overflow: hidden;
    justify-content: space-between;
}

.iconsSocials {
    margin-right: 13%;
    transition: all 0.3s ease;
    align-items: center;
    align-self: center;
    overflow: hidden;
}

.iconsSocials:hover {
    filter: opacity(50%); 
}

.centered {
    text-align: center;
}

p {
    font-size: large;
    color: #5068A9;
    font-family: "Frank Ruhl Libre", serif;
    font-weight: 400;
}

.heading1 {
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: x-large;
    color: #324E7B;
}

.titlePage {
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: xx-large;
    color: #324E7B;
}

.heading2 {
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: large;
    color:#5068A9;
}

.black {
    font-weight: 900;
}

.bold {
    font-weight: bold;
}

.info-title{
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #5068A9;
    width: 40%;
    font-size: large;
}


.info-colon {
    font-family: "Roboto", sans-serif;
    width: 20%;
    text-align: center;
    font-size: large;
}

.info-answer{
    font-family: "Frank Ruhl Libre", serif;
    width: 40%;
    font-weight: 400;
    font-size: large;
    color:#5068A9;
}


.containerSocials {
    display: flex;
    background-color: #324E7B;
    width: 100%;
    height: 10%;

}

.containerLogo {
    width: 15%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
}

.picLogo {
    height: 77%;
    width: 77%;
    object-fit: contain;
}

.containerCard {
    margin: 1% auto;
    width: 85%;
    display: flex;
}

/* Education page */
.containerEducDetails {
    width: 85%;
    margin-right: 1%;
}

.marginTop {
    margin-top: 7px;
}

.marginNone {
    margin-top: 0;
    margin-bottom: 0;
}

.marginNoneBottom {
    margin-bottom: 5px;
}

.marginMedium {
    margin-top: 10px;
    margin-bottom: 10px;
}

.award {
    font-size: medium;
}

#about {
    display: flex;
    height: fit-content;

}

/* skills page */
#containerSkills{
    display: flex;
    height: 100%;

}

.containerSkillsBar {
    width: 50%;
    margin: 2% 2% 3% 5%;   
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
}

.containerExperience {
    padding: 1px 1% 5px 25px;
}

.headingSkills {
    font-weight: bold;
    color: #5068A9;
    font-family: "Frank Ruhl Libre", serif;
    margin-bottom: 0px;
    font-size: large;
}

.outerBar {
    background: #86A6DF;
    width: 95%;
    height: 30px;
    display: flex
}

.innerBar {
    background: #324E7B;
    display: flex;
    height: 100%;
}

.progress{
    color: #C1CAD7;
    text-align: end;
    font-family: "Roboto", sans-serif;
    font-size: medium;
    padding: 5px;
    align-self: center;
    flex-grow: 1;
}

.progress80 {
    width: 80%;
}

.progress70 {
    width: 70%;
}

.progress60 {
    width: 60%;
}

.progress55 {
    width: 55%;
}

.progress40 {
    width: 40%;
}

.progress50 {
    width: 50%;
}

.solidBg{
    background-color: #5068A9;
    color: #FFFFFF;
    font-family: "Frank Ruhl Libre", serif;
    text-align: center;
    font-size: large;
    padding: 3px;
}

.year {
    width: 150px;
}

.month {
    width: 220px;
    font-size: medium;
}


ul {
    font-family: "Frank Ruhl Libre", serif;
    color: #5068A9;
}

/* portfolio page */
.containerPortfolio{
    width: 85%;
    margin: auto;
    background: #E5EEFF;
    height: 65%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.containerProject {
    width: 27%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 1%;
}

.containerPortfolio .containerProject:last-child {
    margin-right: auto;
}

.projectPic {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: top;
    margin: 0;
    padding: 0; 
}

.description {
    height: 60%;
}

.projectTitle {
}

.containerTags {
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.containerTags p {
    height: 100%;
    color: #FFFFFF;
    background-color: #5068A9;
    padding: 1px 8px;
    margin: 0;
    margin-left: 2%;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: medium;
}

/* footer */
footer {
    background-color: #324E7B;
    bottom: 0;
    left: 0;
    width: 100%;
}


.footerText {
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.1vw;
    padding: 1% 0;
}

#responsiveness-alert {
    position: fixed; 
    top: 35%; 
    left: 22%;
    width: 50%;
    background-color: #1B2C47;
    z-index: 100; 
    text-align: center;
    padding: 2%;
    border-radius: 15px;
    
  }
  
  #close-alert {
    background-color: #5068A9;
    border: none;
    padding: 5px 25px;
    cursor: pointer;
    font-size: 1vw;
    border-radius: 5px;
    color: #1B2C47;
  }

  #close-alert:hover {
    background-color: #324E7B;
    color: #1B2C47;
  }

  #alert-text {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;;
  }

 .containerInfoLanding {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    width: 85%;
    margin: auto;
    margin-top: 10%;
    height: 70vh;
 }

 #containerAboutImg {
    width: 30%;
    display: flex;
    overflow: hidden;
    height: 100%;
 }

 #containerInfoDetails {
    width: 70%;
 }